  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap');

  :root{
    --padding-container: 100px 0;
    --color_tittle: #001a49;

  }
  body{
    font-family: 'Dosis', sans-serif;
  }

  .container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
  }

  .hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    padding-top: 20px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffff;
  }
  .hero::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),url('../images/fondo1.jpeg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    z-index: -1;
    }

    /*   NAV   */
  .nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
    }

    .nav_tittle{
        font-weight: 300;
    }

    .nav_items{
        list-style: none;
    }

    .nav_link{
        margin-left: auto;
        padding: 0;
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        gap: 2em;
        justify-content: space-evenly;

    }

    .nav_links{
        color: rgb(166, 167, 202);
        text-decoration: none;
    }

    .nav_menu{
        margin-left: auto;
        cursor: pointer;
        display: none;
    }   

    .nav_imag{
        display: block;
        width: 30px;
    }

    .nav_cerrar{
        display: var(--show,none);
    }


    /*     HERO CONTAINER       */

    .hero_container{
        max-width: 800px;
        --padding-container:0;
        display: grid;
       grid-auto-rows: max-content;
       align-content: center;
       padding-bottom: 100px;
       gap: 1em;
       text-align: center;
    }

    .hero_tittle{
     font-size: 3rem;    
    }

    .hero_paragraph{
        margin-bottom: 20px;
    }

    .cta{
        display: inline-block;
        background-color: #2091f9;
        justify-self: center;
        color: #ffff;
        text-decoration: none;
        padding: 13px 30px;
        border-radius: 32px; 
    }

    /*      ABOUT       */

    .about{
      text-align: center;
      padding-bottom: 25px;
      width: 100%;
      background-color: rgba(214, 104, 83, 0.7 );
    }
  
    .subtittle{
      color: var(--color_tittle);
      font-size: 2rem;
      margin-bottom: 25px;
    }

    
    .about_paragraph{
      line-height: 1.7;
    }

    .about_main{
      
      padding: 30px;
      display: grid;
      width: 90%;
      margin: 0 auto;
      gap: 1em;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit , minmax(260px, auto));
    }

    .about_icons{
      display: grid;
      gap: 1em;
      justify-items: center;
      width: 260px;
      overflow: hidden;
      margin: auto;
    }

    .about_icon{
      width: 140px;
      height: 100px;
    }

    /*Knowlege*/

    .knowledge{
      background-color: #e5e5f7;
      /*opacity: 0.8;*/
      background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
      background-size: 20px 20px;
      background-position: 0 0,10px 10px;
      overflow: hidden;
    } 

    .knowledge_container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      align-items: center;
    }

    .knowledge_picture{
      max-width: 100%;
    }

    .knowledge_paragraph{
      line-height: 1.7;
      margin-bottom: 15px;
    }

    .knowledge_img{
      width: 100%;
      display: block;
    }

    /*Testimony*/

    .testimony{
      background-color: #e5e5f7;
    }

    .testimony_container{
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      gap: 1em;
      align-items: center;
    }

    .testimony_body{
      display: grid;
      grid-template-columns: 1fr max-content;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      grid-column: 2/3;
      grid-row: 1/2;
      opacity: 0;
      pointer-events: none;
    }

    .testimony_body--show{
      pointer-events: unset;
      opacity: 1;
      transition: opacity 1.5s ease-in-out;
    }

    .testimony_course{
      background-color: royalblue;
      color: #ffff;
      display: inline-block;
      padding: 5px;
    }

    .testimony_img{
      width: 400px;
      height: 400px;
    }

    .testimony_texts{
      max-width: 700px;
    }

    .testimony_arrow{
      width: 90%;
      cursor: pointer;
    }

    /*Footer*/

    .footer{
      background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%)
    }

    .footer_title{
      font-weight: 300;
      font-size: 2rem;
      margin-bottom: 30px;
    }

    .footer_title, .footer_newsletter{
      color: #ffff;
    }

    .footer_container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ffff;
      padding-bottom: 60px;
    }

    .nav--footer{
      padding-bottom: 20px;
      display: grid;
      gap: 1em;
      grid-auto-flow: row;
      height: 100%;
    }

    .nav_link--footer{
      display: flex;
      margin: 0;
      margin-right: 20px;
      flex-wrap: wrap;
    }

    .footer_inputs{
      margin-top: 10px;
      display: flex;
      overflow: hidden;
    }

    .footer_input{
      background-color: #ffff;
      height: 50px;
      display: block;
      padding-left: 10px;
      border-radius: 6px;
      font-size: 1rem;
      outline: none;
      border: none;
      margin-right: 16px;
    }

    .footer_submit{
      margin-left: auto;
      display: inline-block;
      height: 50px;
      padding: 0 20px;
      background-color: #2091f9;
      border: none;
      font-size: 1rem;
      color: #ffff;
      border-radius: 6px;
    }

    .footer_copy{
      --padding-container: 30px 0;
      text-align: center;
      color: #ffff;
    }

    .footer_copyrights{
      font-weight: 300;
      padding-bottom: 5px;
    }

    .footer_icons{
      display: inline-flex;
      padding-top: 6px;
    }

    .footer_img{
      width: 30px;
    }


    /*     Media  Queries     */

    @media (max-width:800px){
      .nav_menu{
        display: block;
      }
      
      .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
      }

      .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
      }

      .nav_cerrar{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
        background-color: #444cf7;
      }

      .hero_tittle{
        font-size: 2.5rem;
      }

      .about_main{
        gap: 2em;
      }

      .about_icons:last-of-type{
        grid-column: 1/-1;
      }

      .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
      }

      .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
      }

      .testimony_container{
        grid-template-columns: 30px 1fr 30px;
      }

      .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
      }

      .testimony_img{
        width: 200px;
        height: 200px;
      }

      .footer_container{
        flex-wrap: wrap;
      }

      .nav--footer{
        width: 100%;
        justify-items: center;
      }

      .nav_link--footer{
        /*width: 100px;*/
        justify-content: space-evenly;
        margin: 0;
      }

      .footer_form{
        width: 100%;
        justify-content: space-evenly;
      }

      .footer_input{
        flex: 1;
      }
    }

    @media (max-width:1200px){
      .nav_menu{
        display: block;
      }
      
      .nav_link--menu{
        position: fixed;
        background-color: rgb( 33, 39, 56);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
      }

      .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
      }

      .nav_cerrar{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
      }
    }